*,
body {
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid black;
  height: 3rem;
  width: 100%;
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  
}

main {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
}

#container-images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

img {
  margin: 0 40px;
  height: 18rem;
  width: 12rem;
}